#wrap_sp{
    height: 520px; 
    width: 830px; 
    margin: 50px auto;
    background: black;
    position: relative;
}
#wrap_sp .size{
    width:830px;
    height:520px;
}
#top_sp{
    width:120px;
    height:55px;
    position:absolute;
    background:white;
    border-radius: 10px;
    top:230px;
    left:355px;
}
#san{
    width:0px;
    height:0px;
    border-top: 16px solid transparent;     
    border-left: 28px solid black;  
    border-bottom: 16px solid transparent; 
    position:absolute;
    top:12px;
    left:50px;
}
button{
    outline:none;
}

