*{
	margin:0;
	padding:0;
}
#beij{
	width:100%;
	height:665px;
	position: relative;
	background:url(../img/images3/dl.png) no-repeat;
}
.f_l{
	float:left;
}
.f_r{
	float:right;
}
.right1{
	width:352px;
	height:324px;
	background:#f6f6f6;
	margin-top:150px;
	margin-right:300px;
	padding-top:34px;
}
.right1{
	margin-right:258px;
}
a{
	text-decoration: none;
	color:black;
}
.clear{
	clear:both;
}
.sjyz{
	background:#ccc;
	height:28px;
	line-height: 28px;
	width:124px;
	text-align: center;
	font-size: 14px;
}
.ptdl{
	height:28px;
	line-height: 28px;
	width:124px;
	text-align: center;
	margin-left: 30px;
	font-size: 14px;
}
.wbk{
	height:42px;
	width:200px;
	outline: none;
	border-radius: 3px;
	border:1px solid #ccc;
}
.wbk1{
	margin-left:40px;
	margin-top:20px;
}
.ann{
	width:248px;
	height:40px;
	background:black;
	border:1px solid black;
	color:white;
	font-size: 16px;
	margin-left: 42px;
	margin-top:20px;
}
.wq{
	margin-left:40px;
	margin-top: 20px;
}
.im2{
	margin-left:10px;
}
.zt13{
	font-size: 13px;
	color:#999;
}
.sp2{
	margin-left:30px;
}
.sp3{
	margin-left: 10px;
}
.wbka{
	height:39px;
	width:240px;
	outline: none;
	border-radius: 3px;
	border:1px solid #ccc;
}
.wbkb{
	height:39px;
	width:130px;
	outline: none;
	border-radius: 3px;
	border:1px solid #ccc;
}
.red{
	height:39px;
	margin-left:10px;
	width:100px;
	background:red;
	outline: none;
	border-radius: 3px;
	border:1px solid red;
	font-size: 13px;
	line-height: 39px;
	text-align: center;
	color:white;
}
.bot1{
	margin-top: 20px;
}
.yinc{
	display:none;
}