
body{
    margin: 0;padding: 0;
}
.left{
    float:left;
}
a{
    text-decoration:none;
}
.all{
  width:1050px;height:2460px;
  margin:0 auto;
  /*border:1px solid red;  */
}
.ton{
    border:1px solid #ccc;   
}
.shop,.add,.ship,.way,.ord,.pre{
    width:1000px;
    margin-top:30px;
}
.shop{
    height:206px;
}
/*.line li{
    list-style:none;
}
.shop-line{
    float:left;
    width:98px;
    border:1px solid #ccc;
}
.border-black{
    border-color: #000 !important;
}
.bg-black{
    background-color: #000 !important;
}
.clear-fix::after{
    content:'';
    display:block;
    width:0;height:0;
    clear:both;
}
.line{
    width:430px;
    margin:0 auto;
}
.shop-block{
    position:relative;
    top:-4px;*//*
    float:left;
    width: 10px;
    height: 10px;
    background-color: #ccc;
}*/
.shop_a{
    margin-left:38px;
}
.add{
    height:285px;
    border:1px solid #ccc;
   
}
.add_a{
    height:40px;
    background: #242424;
}
.size{
    font-size:13px;
}
.sizes{
    font-size:10px;
}
.center{
    text-align:center;
}
.liter{
    font-weight:lighter;
}
.d_a1{
    margin-left:20px;
    line-height: 40px;
    color:white;
}
.d_a2{
    margin-left:825px;
    line-height: 40px;
    color:white;
}
.add_img{
    width:130px;
    height:120px;
    border:1px solid #ccc;
    margin-left:45px;
    margin-top:44px;
}
.add_sh{
    width:225px;height:170px;
    margin-left:28px;
    margin-top:30px;
    border:1px solid orange;
    position: relative;
    overflow:hidden;
}

#aa{
    position: absolute;
    top:0px;left:2px;
}
#bb{
    position: absolute;
    top:147px;left:202px;
}
#cc{
    position: absolute;
    bottom:0px;right:0px;
}
.d_sha{
    margin-left:11px;
    margin-top:19px;
}
.d_shb{
    margin-left:11px;
    margin-top:16px;
}
#d_shc{
    margin-left:11px;
}
#d_shd{
    margin-left:33px;
}
#d_she{
    margin-left:20px;
}

.add_a1{
    border:1px solid #ccc;
    height:140px;
}
.ship_a{
    border:1px solid orange;
    width:190px;height:30px;
    position: relative;
    margin:45px 0 0 40px;
}
#ship_a1{
    position: absolute;
    bottom:0; right:0;
}
.ship_a2{
    margin-left:28px;
    line-height:30px;
}
.shop_a3{
    margin-left:38px;
}

.ship_b{
     border:1px solid #ccc;
    width:999px;height:40px;
    
}
.sh_b{
    line-height: 40px;
    margin-left:20px;
    font-weight: bold;
}
.ship_c{
    height:195px;width:999px;
    border:1px solid #ccc;
}
.ship_c1,.ship_c2{
    border:1px solid orange;
    width:190px;height:30px;
}
.ship_c1{
    margin-top:45px;
    margin-left:40px;
    position: relative;
}
.ship_c2{
    margin-top:20px;
    margin-left:40px;
}
.c1_a{
    line-height:30px;
    margin-left:30px;
}
.ship_c3{
    margin-left:40px;
}
.way_a1{
    color:white;
    line-height:40px;
    margin-left:20px;
}
.way_a2{
    color:white;
    line-height:40px;
    margin-left:205px;
}
.way_a3{
    color:white;
    line-height:40px;
    margin-left:440px;
}
.way_a4{
    color:white;
    line-height:40px;
    margin-left:140px;
}
.way_b_a{
    height:280px;width:999px;
    margin-top:12px;
    border:1px solid #ccc;
    position: relative;
}
.way_b_b{
    height:280px;width:999px;
    margin-top:52px;
    border:1px solid #ccc;
    position: relative;
}
.way_b1{
    border:1px solid #ccc;
    position: absolute;
    top:15px;left:20px;
}
.way_b2{
    width:90px;height:40px;
    position: absolute;
    top:30px;left:160px;
}
.b2_a{
    margin-left:750px; 
    margin-top:40px;
    position: absolute;
}
.b2_b{
    margin-left:133px; 
}
.way_b3{
    border:1px solid #ccc;
    position: absolute;
    top:120px;left:20px;
}
.b4_a{
    position: absolute;
    top:112px; left:160px; 
}
.b4_b{
    position: absolute;
    top:140px;left:750px;
}
.way_c{
    height:40px;width:1001px;
    position: absolute;
    background: #f0f2f3;
}
.way_c1{
    position: absolute;
    bottom:-6px;right:50px;
}

.ord{
    width:1001px;
    height:420px;
    margin-top:70px;
}
.ord_a{
    color:white;
    line-height:40px;
    margin-left:20px;
}
.add_b{
    height:55px;width:1000px;
}
.ord_b{
    line-height:55px;
    margin-left:30px;
}
.ord_c{
    width:1000px;height:160px;
}
.ord_c1{
    margin-top:31px;margin-left:40px;
}
.ord_c2{
    margin-left:40px;margin-top:31px;
}
.ord_d{
    width:1000px;height:160px;
}
.ord_d1{
    margin:25px 0 0 750px;
}
.ord_e{
    float:right;
    margin-top:45px;
}