#ZONG #main{
	min-width: 1350px;
	margin:0 auto;
	text-align: center;
}
#ZONG{
	min-width:1350px;
	margin:0 auto;
	text-align: center;
}
.main1,.main2{
	width:1350px;
	margin:0 auto;
}
*{
	margin:0;
	padding:0;
}
.f_l{
	float:left;
}
#ddd{
		position: fixed;
		bottom:30px;
		right:40px;
}

.f_r{
	float:right;
}
.clear{
	clear:both;
}
.main11,.main12{
	width:636px;
	height:150px;
	border:1px solid #ccc;
}
#tags{
	width:600px;
	overflow: hidden;
	height:20px;
}
.main213,.main214{
	text-align: center;
}
.main11 ul li{
	padding-right:20px;
}
.main11 ul{
	padding-bottom: 30px;
}
.main12 ul li{
	padding-right:20px;
}
.main12 ul{
	padding-bottom: 30px;
}
.main11{
	padding-top:30px;
	padding-left:30px;
}
.main12{
	padding-top:30px;
	padding-left: 30px;
}
.main13 .zt13:nth-child(1){
	margin-right: 15px;
}
.zt13{
	font-size: 13px;
}
.jc{
	font-weight: bold;
}
.lb{
	list-style: none;
}

.main13{
	margin-top: 50px;
	padding-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #ccc;
	width:1350px;
}
.tag-block{
	width:64px;
	height:20px;
	background:black;
	color:white;
	text-align: center;
	margin-right: 8px;
}

.main13 ul div{
	width:2px;
	height:18px;
	background:#eee;
}
.hui{
	color:#ccc;
}
.main2{
	height:1000px;
	padding-top: 20px;
}
.main2 .cheng{
	width:108px;
	height:36px;
	background:orange;
	color:white;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	margin-left: 200px;

}
.mian211,.main212,.main213,.mian214{
	width:312px;
}
.main211,.main212,.mian213,.mian214{
	text-align: center;
	margin-right: 40px;
}
.zt16{
	font-size: 16px;
}
.ff{
	color:#6f6f6f;
}
.jg{
	color:#b69d79;
}
.goum{
	width:98px;
	height:30px;
	border:1px solid black;
	margin-left: 50px;
	line-height: 30px;
	text-align: center;
}
.dingk1{
	height:20px;
}
.shouc{
	width:98px;
	height:30px;
	background:black;
	border:1px solid black;
	color:white;
	margin-left: 20px;
	line-height: 30px;
	text-align: center;
}
.yinc{
	visibility: hidden;
}
.xianshi{
	visibility:visible;
}